@import 'reset';

$unit: 12px;

$primary-color: #e7c2e8;

body {
    & > .-header {
        background: $primary-color;
        padding: $unit;
    }

    & > .-notebook {
        & > .-cell-list {
            & > .-cell {
                margin: $unit;

                &.-formula-cell {
                    & > .-formula {
                        display: flex;

                        & > textarea {
                            flex: 1;

                            border: none;
                            &:focus { outline: none; }

                            font-family: monospace;
                            font-size: $unit;

                            padding: 0;
                        }

                        & > button { flex: 0 0 $unit; }
                    }

                    & > .-result {
                        font-family: monospace;
                        font-size: $unit;

                        & > .-loading {
                            font-style: italic;
                        }
                    }
                }
            }
        }
    }
}
